#menu{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
  border: 1px solid black;
  padding: 5px;
}
section{
  text-align: center;
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
}
article{
  background-color: yellow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
p{
  margin-left: 10%;
}
article img{
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-top: 8px;
  padding: 0 4px;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .menu img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  section img {
    width: 100%;
  }
}